@charset "UTF-8"

body {
   /*  background-color: bisque; */
}

/*************** reset : 초기화 시킴 ***********************************************************/
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    /* 현재 설정된 기본값을 그대로 쓰겠다!!! */
    font-weight: normal;
    /* 기본값 : 400 */
}

a {
    text-decoration: none;      
    color: black;
}

/************** common : 공통으로 사용할 디자인  **************************************************/

/* float 해제를 위한 클래스 */
.clear::after {
    content: "";
    display: block;
    clear: both;

}




section {
    width: 90%;
   /*  background-color: #ffe4e4; */
    padding: 50px;
    margin: 0 auto;

}

.recipe {
    background-color: rgb(255, 255, 255);
/*     width: 1280px; */

    margin: 0 auto;

}



.recipe .title {
    margin: 30px;
    padding: 20px;
    text-align: center;
}

.recipe .title h2 {
    font-size: 35px;
    font-weight: 700;
}

.recipe .title p {
    font-size: 18px;
    color: rgb(114, 114, 114);
}

.recipe .content ul {
   
    /* padding:5px; */
   /*  outline: 1px solid teal; */
}

.recipe .content ul img {
    width: 100%;

}

.recipe .content ul .box1 img {
    border-radius: 0 30% 0 0;
    
     background-color: rgba(0, 0, 0, 0.5);
     opacity:initial;
   
}

.recipe .content .box2 img {
    border-radius: 0 0 0 30%;
}

.recipe .content .box3 img {
    border-radius: 0 30% 0 0;
}

.recipe .content .box4 img {
    border-radius: 00 30% 0;
}

.recipe .content .box5 img {
    border-radius: 0 0 0 30%;
}


.recipe .content li {
    width: 18.4%;
    float: left;
    
  
   /*  margin-right: 1.5%; */
    position: relative;
      /* outline: 1px solid tomato; */
      /* background-color: rgb(255, 219, 226); */

}


.recipe .content li~li {
    margin-left: 2%;
}

.recipe .content ul li p {
    position: absolute;
    left: 3%;
    top: 7%;
    z-index: 1;
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    padding-left:10px;
     
}
.content .box1 .flat{
    background-color: rgb(105, 105, 105, 0.5); 
    z-index: 20;
}